@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-rows: 150px 100px 1fr 100px;
    grid-template-columns: 1fr 200px;
    gap: 10px;
    height: 100vh;
    padding: 10px;    
}

.caixa {
    border: 1px solid black;
    background-color: lightsalmon;
    place-content: center;

    color: rgb(31, 31, 204);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#topo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

#menu {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

#principal {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#secundario {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#rodape {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
}